
/* Google Fonts - Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

:root {
  --accent: #EA918D;
  --accentHover: #DE8A86;
  --dark: #304659;
  --dark80: rgba(48, 70, 89, .8);
  --dark60: rgba(48, 70, 89, .6);
  --light: #F5F9FC;
  --transition: all 0.3s ease 0s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: auto;
}

body {
  background: linear-gradient(
    var(--dark60),
    var(--dark60)
  ),
  url(./images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

p, a, button {
  font-family: "Lato", sans-serif;
  color: var(--light);
  text-decoration: none;
}

a, button, .logo {
  cursor: pointer;
}